<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>My Page</title>
</head>
<body>
  <h1>all articles page</h1>
  <hr />
  <div style="background: olivedrab; color:black; padding: 20px">
    <% for( let  article of allArticles ) { %><h2><%=article.title%> </h2><br><% } %>
  </div>

</body>
</html>